body {
  font-size: 15px;
  font-family: "PF Encore Sans Pro", sans-serif;
  font-weight: 600;
  background: #fff;
  position: relative;
}
.top {
  .langs {
    span {
      cursor: pointer;
    }
  }
}
.header {
  position: sticky;
  top: 0px;
  z-index: 100;
}
.navbar {
  li {
    font-size: 18px;
    line-height: 20px;
    font-weight: 300;
    cursor: pointer;
  }
  svg {
    transition: rotate 0.15s;
  }
  .catalog {
    position: relative;
    &::after {
      content: url(../../img/Catalog_border.png);
      width: 77px;
      position: absolute;
      top: 10px;
    }
  }
  .catalog,
  .about,
  .reference,
  .content {
    display: flex;
    align-items: center;
    .submenu {
      visibility: hidden;
      opacity: 0;
    }
  }
}
header {
  .search {
    padding: 12px 12px 13px 13px;
    border: 1px #e31e24 solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      border: 1px white solid;
      background: #e31e24;
      .search_icon {
        fill: #fff;
      }
    }
  }
}

.first {
  margin-bottom: 30px;
  .offer_bg_img_1 {
    background: url(../../img/Offer_background.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
  }
  .offer_bg_img_2 {
    background: url(../../img/Offer_background_2.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
  }
  .offer_bg_img_3 {
    background: url(../../img/Offer_background_3.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
  }
  button {
    position: static;
    margin: 0;
  }
  .swiper-button-next::after {
    color: #a1a1a1;
    font-size: 22px;
  }
  .swiper-button-prev::after {
    color: #a1a1a1;
    font-size: 22px;
  }
  .swiper-pagination {
    position: static;
    text-align: end;
    margin: 0;
    font-size: 21px;
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity));
  }
  .donwload_btn {
    transition: all 0.3s;
    &:hover {
      background-color: #e31e24;

      span {
        color: #fff;
      }
      path {
        fill: #fff;
      }
    }
  }
}

.second {
  .about_btn {
    transition: all 0.3s;
    &:hover {
      span {
        color: #e31e24;
      }
    }
  }
}
.swiper {
  margin: 0 !important;
}
.galary-slider {
  .galary-img_1 {
    background: url(../../img/galary/1.png) no-repeat center center;
    background-size: cover;
  }
  .galary-img_2 {
    background: url(../../img/galary/2.png) no-repeat center center;
    background-size: cover;
  }
  .galary-img_3 {
    background: url(../../img/galary/3.png) no-repeat center center;
    background-size: cover;
  }

  button {
    position: static;
    margin: 0;
  }
  .swiper-button-next::after {
    color: #a1a1a1;
    font-size: 20px;
  }
  .swiper-button-prev::after {
    color: #a1a1a1;
    font-size: 20px;
  }
}
line {
  height: 100% !important;
}
.fifth {
  .client-slider-btn-prev {
    top: var(--swiper-navigation-top-offset, 55%);
  }
  .client-slider-btn-prev::after,
  .client-slider-btn-next::after {
    color: #000;
    font-size: 16px;
  }
  .partner-slider-btn-prev::after,
  .partner-slider-btn-next::after {
    color: #000;
    font-size: 16px;
  }
}
.third {
  .catalog_btn {
    transition: all 0.3s linear;
  }
  .catalog_card {
    transition: ease-in-out;
    img {
      transition: transform 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .catalog_btn {
        background-color: #e31e24;
        path {
          fill: #fff;
        }
      }
    }
  }
}

.fourth {
  .questions {
    .quession_icon {
      transition: transform 0.3s;
    }
    &:hover {
      .quession_icon {
        transform: scale(1.1);
      }
    }
  }
}

//!adaptive mobile
