body {
  &.lock {
    overflow: hidden;
  }
}


.first {
  margin-bottom: 30px;
  .offer {
    @media screen and (max-width: 1200px) {
      padding-top: 100px;
      h1 {
        font-size: 50px;
      }
    }
    @media screen and (max-width: 900px) {
      h1 {
        font-size: 34px;
        line-height: 2.6rem;
      }
    }
    .swiper-wrapper {
      @media screen and (min-width: 1280px) {
        width: 55rem;
      }
    }
  }
  .slider_block {
    @media screen and (max-width: 425px) {
      margin-left: -12px;
    }
  }
  .offer_bg_img_1 {
    background: url(../../img/Offer_background.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
  }
  .offer_bg_img_2 {
    background: url(../../img/Offer_background_2.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
  }
  .offer_bg_img_3 {
    background: url(../../img/Offer_background_3.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    border-radius: 20px;
  }
  button {
    position: static;
    margin: 0;
  }
  .swiper-button-next::after {
    color: #a1a1a1;
    font-size: 22px;
  }
  .swiper-button-prev::after {
    color: #a1a1a1;
    font-size: 22px;
  }
  .swiper-pagination {
    position: static;
    text-align: end;
    margin: 0;
    font-size: 21px;
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity));
  }
  .donwload_btn {
    transition: all 0.3s;
    &:hover {
      background-color: #e31e24;

      span {
        color: #fff;
      }
      path {
        fill: #fff;
      }
    }
  }
}

.second {
  .about_btn {
    transition: all 0.3s;
    &:hover {
      span {
        color: #e31e24;
      }
    }
  }
}

.galary-slider {
  .galary-img_1 {
    background: url(../../img/galary/1.png) no-repeat center center;
    background-size: cover;
  }
  .galary-img_2 {
    background: url(../../img/galary/2.png) no-repeat center center;
    background-size: cover;
  }
  .galary-img_3 {
    background: url(../../img/galary/3.png) no-repeat center center;
    background-size: cover;
  }

  button {
    position: static;
    margin: 0;
  }
  .swiper-button-next::after {
    color: #a1a1a1;
    font-size: 20px;
  }
  .swiper-button-prev::after {
    color: #a1a1a1;
    font-size: 20px;
  }
}
line {
  height: 100% !important;
}
.fifth {
  .client-slider-btn-prev {
    top: var(--swiper-navigation-top-offset, 55%);
  }
  .client-slider-btn-prev::after,
  .client-slider-btn-next::after {
    color: #000;
    font-size: 14px;
  }
  .partner-slider-btn-prev::after,
  .partner-slider-btn-next::after {
    color: #000;
    font-size: 16px;
  }
}
.third {
  .catalog_btn {
    transition: all 0.3s linear;
  }
  .catalog_card {
    transition: ease-in-out;
    img {
      transition: transform 0.3s;
    }
    &:hover {
      img {
        transform: scale(1.1);
      }
      .catalog_btn {
        background-color: #e31e24;
        path {
          fill: #fff;
        }
      }
    }
  }
}
.catalog_btns {
  min-width: 100%;
  img {
    @media screen and (max-width: 1200px) {
      max-width: 180px;
    }
    @media screen and (max-width: 980px) {
      max-width: 130px;
    }
    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }
  button {
    @media screen and (max-width: 1200px) {
      padding: 35px 30px 35px 29px;
    }
    @media screen and (max-width: 980px) {
      padding: 30px 25px 30px 24px;
    }
  }
}
.fourth {
  .questions {
    .quession_icon {
      transition: transform 0.3s;
    }
    &:hover {
      .quession_icon {
        transform: scale(1.1);
      }
    }
  }
}
.fifth {
  .client_img {
    @media screen and (max-width: 1052px) {
      display: none;
    }
  }
}
.sixth {
  .news {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 42px;
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

//!adaptive mobile
