.first {
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  .first .offer {
    padding-top: 100px;
  }
  .first .offer h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 900px) {
  .first .offer h1 {
    font-size: 34px;
    line-height: 2.6rem;
  }
}
@media screen and (min-width: 1280px) {
  .first .offer .swiper-wrapper {
    width: 55rem;
  }
}
@media screen and (max-width: 425px) {
  .first .slider_block {
    margin-left: -12px;
  }
}
.first .offer_bg_img_1 {
  background: url(../../img/Offer_background.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
.first .offer_bg_img_2 {
  background: url(../../img/Offer_background_2.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
.first .offer_bg_img_3 {
  background: url(../../img/Offer_background_3.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}
.first button {
  position: static;
  margin: 0;
}
.first .swiper-button-next::after {
  color: #a1a1a1;
  font-size: 22px;
}
.first .swiper-button-prev::after {
  color: #a1a1a1;
  font-size: 22px;
}
.first .swiper-pagination {
  position: static;
  text-align: end;
  margin: 0;
  font-size: 21px;
  --tw-text-opacity: 1;
  color: rgb(163 163 163/var(--tw-text-opacity));
}
.first .donwload_btn {
  transition: all 0.3s;
}
.first .donwload_btn:hover {
  background-color: #e31e24;
}
.first .donwload_btn:hover span {
  color: #fff;
}
.first .donwload_btn:hover path {
  fill: #fff;
}

.second .about_btn {
  transition: all 0.3s;
}
.second .about_btn:hover span {
  color: #e31e24;
}

.galary-slider .galary-img_1 {
  background: url(../../img/galary/1.png) no-repeat center center;
  background-size: cover;
}
.galary-slider .galary-img_2 {
  background: url(../../img/galary/2.png) no-repeat center center;
  background-size: cover;
}
.galary-slider .galary-img_3 {
  background: url(../../img/galary/3.png) no-repeat center center;
  background-size: cover;
}
.galary-slider button {
  position: static;
  margin: 0;
}
.galary-slider .swiper-button-next::after {
  color: #a1a1a1;
  font-size: 20px;
}
.galary-slider .swiper-button-prev::after {
  color: #a1a1a1;
  font-size: 20px;
}

line {
  height: 100% !important;
}

.fifth .client-slider-btn-prev {
  top: var(--swiper-navigation-top-offset, 55%);
}
.fifth .client-slider-btn-prev::after,
.fifth .client-slider-btn-next::after {
  color: #000;
  font-size: 14px;
}
.fifth .partner-slider-btn-prev::after,
.fifth .partner-slider-btn-next::after {
  color: #000;
  font-size: 16px;
}

.third .catalog_btn {
  transition: all 0.3s linear;
}
.third .catalog_card {
  transition: ease-in-out;
}
.third .catalog_card img {
  transition: transform 0.3s;
}
.third .catalog_card:hover img {
  transform: scale(1.1);
}
.third .catalog_card:hover .catalog_btn {
  background-color: #e31e24;
}
.third .catalog_card:hover .catalog_btn path {
  fill: #fff;
}

.catalog_btns {
  min-width: 100%;
}
@media screen and (max-width: 1200px) {
  .catalog_btns img {
    max-width: 180px;
  }
}
@media screen and (max-width: 980px) {
  .catalog_btns img {
    max-width: 130px;
  }
}
@media screen and (max-width: 768px) {
  .catalog_btns img {
    max-width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .catalog_btns button {
    padding: 35px 30px 35px 29px;
  }
}
@media screen and (max-width: 980px) {
  .catalog_btns button {
    padding: 30px 25px 30px 24px;
  }
}

.fourth .questions .quession_icon {
  transition: transform 0.3s;
}
.fourth .questions:hover .quession_icon {
  transform: scale(1.1);
}

@media screen and (max-width: 1052px) {
  .fifth .client_img {
    display: none;
  }
}

.sixth .news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 42px;
}
@media screen and (max-width: 768px) {
  .sixth .news {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */